
#menuBar {
    position: fixed;
    right: -240px;
    top: 0px;
    width : 240px;
    height: 100%;
    background-color: #3b5998;
    transition: 0.2s;
    z-index: 5;
}

#menuBarHeader {
    width: 100%;
    display: flex;
    height: 55px;
    align-items: center;
    justify-content: space-between;
}

#logOutButton {
    cursor: pointer;
    color: #3b5998;
    background-color: white;
    margin-left: 15px;
    width: 90px;
    height: 30px;
    border: none;
}

.myInfo {
    display: flex;
    width: 220px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
}

#profile {
    width: 100px;
}

#detailInfo {
    display: flex;
    justify-content: center;
    width: 120px;
    height: 100px;
    flex-wrap: wrap;
}

#team {
    margin: 4px;
    color: white;
}

#position {
    margin: 4px;
    color: white;
}

#name {
    font-size: 20px;
    color: white;
    font-weight: bold;
}

#phonenumber {
    color: white;
    width: 100%;
    font-size: 25px;
}

#editInfoButton {
    cursor: pointer;
    color: #3b5998;
    background-color: white;
    width: 90px;
    height: 30px;
    border: none;
}

#memberList {
    position: absolute;
    bottom: 0;
    width: 240px;
    height: fit-content;
    display: flex;
    flex-flow: column;
}

.memberRow {
    cursor: pointer;
    width: 100%;
    height: 80px;
    background-color: #dfe1ee;
    border: solid 0.5px;
}