
header {
    margin-top: 60px;
    margin-bottom: 50px;
    font-size: 60px;
    color: #3b5998;
}

main {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#idRow {
    margin-bottom: 8px;
    align-items: center;
    display: flex;
    width: 100%;
    height: 35px;
}

#idLabel {
    font-size: 15px;
    width: 115px;
    text-align: end;
}

#idInput {
    font-size: 15px;
    flex-grow: 1;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

#duplicateCheckButton {
    width: 115px;
    height: 100%;
    cursor: pointer;
    color: white;
    background-color: #3b5998;
    border: none;
}


.rows {
    margin-bottom: 8px;
    width: 100%;
    height: 35px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.label {
    font-size: 15px;
    width: 115px;
    text-align: end;
}

.input {
    font-size: 15px;
    flex-grow: 1;
    height: 35px;
    margin-left: 10px;
    margin-right: 125px;
}

.radioInput {
    font-size: 15px;
    margin-left: 20px;
    text-align: start;

}

#button {
    width: 350px;
    height: 35px;
    font-size: 15px;
    cursor: pointer;
    color: white;
    background-color: #3b5998;
    border: none;
}
